@font-face {
  font-family: "Goyang";
  src: url("fonts/Goyang.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

body * {
  font-family: Goyang;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

#App {
  margin: 1.5em auto;
  max-width: 1200px;
  column-gap: 1.5em;
}

.SearchResult {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  grid-gap: 10px;
}

@media screen and (max-width: 992px) {
  .SearchResult {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    grid-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .SearchResult {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(2, minmax(250px, 1fr));
    grid-gap: 10px;
  }
}

@media screen and (max-width: 576px) {
  .SearchResult {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(250px, 1fr));
    grid-gap: 10px;
  }
}

.SearchResult img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SearchResult .item {
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

.SearchInput {
  width: 100%;
  font-size: 40px;
  padding: 10px 15px;
}

.ImageInfo {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.ImageInfo .title {
  display: flex;
  justify-content: space-between;
}

.ImageInfo .title,
.ImageInfo .description {
  padding: 5px;
}

.ImageInfo .content-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .ImageInfo .content-wrapper {
    width: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
  }
}

.ImageInfo .content-wrapper img {
  width: 100%;
}

.Message {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 30px;
  background-color: rgba(241, 241, 241, 0.904);
}

.RandomButton {
  margin-left: 10px;
}

/* dark mode 처리
@media (prefers-color-scheme: dark) {
  body {
    background-color: #000;
    color: white;
  }
}
*?
